/* Styles pour le corps de la page */

* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  min-height: 900px;
  font-family: 'Anuphan', sans-serif;
  width: 100%;
}

/* Styles bannière */

.banner {
  position: relative;
  width: 100%;
  height: 150px;
  max-height: 200px;
}


.banner img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner img.active {
  opacity: 1;
}

@keyframes diaporama {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.background-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.644);
}

/* Style Barre Nav */

.banner-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(45% + 1px);
  background-color: rgba(0, 0, 0, 0.103);
  z-index: 2;
}

.banner-nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.banner-nav li {
  height: 100%;
  width: 100%;
  display: block;
  list-style:none;
  justify-content: space-between;
}

.banner-nav li:hover {
  background-color: rgba(255, 255, 255, 0.137);
  transition: background-color 0.4s ease-in-out;
}

.banner-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  border: none;
  color: rgb(214, 214, 214);
  font-size: 22px;
}

.banner-nav a:hover {
  transition: color 0.2s ease-in-out;
  color: rgb(233, 233, 233);
}

/* Style Contenu Principal index.html */

main {
  margin-top: 70px;
  min-height: 600px;
  width: 100%;
}

main .index-grid-container {
  min-height: 550px;
  display: grid;
  grid-template-columns: 60% 40%;
}

main .index-grid-container .presentation-container {
  margin-left: 35px;
  padding-right: 35px;
}

main .index-grid-container .presentation-container h2 {
  text-align: center;
  font-size: 2rem;
}

main .index-grid-container .presentation-container p {
  text-align: justify;
  text-justify:auto;
  hyphens: auto;
  font-size: 1.15rem;
  margin-top: 20px;
}

main .index-image-container {
  background: rgb(0, 0, 0);
  margin-right: 35px;
  border-radius: 10px;
  min-height: 300px;
  max-height: 550px;
}

/* Style Formulaire contact.html */

form {
  max-width: 630px;

  display: grid;
  margin: 0 auto;
  margin-top: 70px;
  padding: 30px 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 38% 20%;
  grid-template-areas: 
  "i1 i2"
  "i3 i3"
  "ta ta"
  "bt bt";
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

input, textarea {
  margin: 10px;
  border: 1px solid black;
  border-radius: 35px;
  font-family: 'Anuphan', sans-serif;
  padding: 20px;
}

input {
  height: 30px;
}

textarea {
  height: 190px;
  grid-area: ta;
  resize: none;
}

#contact-title {
  text-align: center;
}

#subject-form {
  grid-area: i3;
}

#btn-form {
  width: 130px;
  grid-area: bt;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  background: black;
  color: white;
}

#btn-form:hover {
  background: rgba(0, 0, 0, 0.792);
}

#submit-message {
  color: red;
}

/* Style Footer */

footer {
  margin-top: 50px;
  min-height: 2rem;
  max-height: 100px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
}

footer p {
  bottom: 0;
  text-align: center;
}

/* RESPONSIVE */
@media screen and (max-width : 1300px) {
  main .index-grid-container {
    display: grid;
    grid-template-columns: 95%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }

  main .index-grid-container .presentation-container {
    padding: 0;
    margin: 0 2.5%;
  }

  main .index-image-container {
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 2.5%;
  }

  main .index-grid-container .presentation-container h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  main .index-grid-container .presentation-container p {
    text-align: justify;
    text-justify:auto;
    hyphens: auto;
    font-size: 1.15rem;
    margin-top: 20px;
  }
}

@media screen and (max-width : 210px) {
  main .index-grid-container .presentation-container h2 {
    font-size: 1.15rem;
  }
}

@media screen and (max-width : 450px) {
  .banner {
    position: relative;
    width: 100%;
    height: 100px;
    max-height: 110px;
  }
  #contact-main {
    margin-top: 10px;
  }

  .banner-nav a {
    font-size: 16px;
  }
}

@media screen and (max-width : 640px) {
  form {
    grid-template-columns: 95%;
    grid-template-areas: 
    "i1"
    "i2"
    "i3"
    "ta"
    "bt";
    margin-top: 10px;
  }

  input, textarea {
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 35px;
    font-family: 'Anuphan', sans-serif;
    padding: 20px;
    width: 60%;
  }
}

